<form [formGroup]="editForm" novalidate class="custom-form" >
    <h1 align="center">Editar Perfil</h1>
<mat-form-field>
      <input matInput type="text" formControlName="nombre"  placeholder="Nombre" required>
      <mat-error *ngIf="this.editForm.get('nombre').errors?.required">{{ getErrorMessage("nombre") }}</mat-error>
      <mat-error *ngIf="this.editForm.get('nombre').errors?.minlength">{{ getErrorMessage("nombre") }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="apellidos" placeholder="Apellidos"  required>
      <mat-error *ngIf="this.editForm.get('apellidos').errors?.required">{{ getErrorMessage("apellidos") }}</mat-error>
      <mat-error *ngIf="this.editForm.get('apellidos').errors?.minlength">{{ getErrorMessage("apellidos") }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="direccion"  placeholder="Direcci&oacute;n" required>
      <mat-error *ngIf="this.editForm.get('direccion').errors?.required">{{ getErrorMessage("direccion") }}</mat-error>
  
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="cp" placeholder="CP"  required>
      <mat-error *ngIf="this.editForm.get('cp').errors?.required">{{ getErrorMessage("cp") }}</mat-error>
      <mat-error *ngIf="this.editForm.get('cp').errors?.pattern">{{ getErrorMessage("cp") }}</mat-error>
  
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="movil" placeholder="M&oacute;vil"  required>
      <mat-error *ngIf="this.editForm.get('movil').errors?.required">{{ getErrorMessage("movil") }}</mat-error>
      <mat-error *ngIf="this.editForm.get('movil').dirty && this.editForm.get('movil').errors?.pattern">{{ getErrorMessage("movil") }}</mat-error>
      <mat-error *ngIf="this.editForm.get('movil').errors?.serverError">{{ this.editForm.get('movil').errors?.serverError }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="correo" placeholder="Correo"  required>
      <mat-error *ngIf=" this.editForm.get('correo').errors?.required">{{ getErrorMessage("correo") }}</mat-error>
      <mat-error *ngIf="this.editForm.get('correo').dirty && this.editForm.get('correo').errors?.email">{{ getErrorMessage("correo") }}</mat-error>
      <mat-error *ngIf="this.editForm.get('correo').errors?.serverError ">{{ this.editForm.get('correo').errors?.serverError }}</mat-error>
  
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="fechaNacimiento"  placeholder="Fecha de nacimiento (dd/mm/yyyy)" required>
      <mat-error *ngIf="this.editForm.get('fechaNacimiento').errors?.required">{{ getErrorMessage("fechaNacimiento") }}</mat-error>
      <mat-error *ngIf="this.editForm.get('fechaNacimiento').errors?.pattern">{{ getErrorMessage("fechaNacimiento") }}</mat-error>
  
    </mat-form-field>
    <mat-form-field >
      <input matInput  [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl" placeholder="Contraseña" required (change)="this.confirmPasswordFormControl.setValue('')" >
      <mat-error *ngIf=" passwordFormControl.errors?.required">{{ getErrorMessage("password") }}</mat-error>
      <mat-error *ngIf=" passwordFormControl.errors?.pattern">{{ getErrorMessage("password") }}</mat-error>
      <button class="fondo" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      
    </mat-form-field>
    <mat-form-field >
      <input matInput  [type]="hide2 ? 'password' : 'text'" [formControl]="confirmPasswordFormControl" required placeholder="Repita contraseña" >
      <mat-error *ngIf="this.confirmPasswordFormControl.dirty && this.confirmPasswordFormControl.errors?.noMatch"> {{getErrorMessage("confirmPassword")}} </mat-error>   
      <button class="fondo" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    
    
    <mat-form-field appearance="fill">
      <mat-label>G&eacute;nero</mat-label>
      <mat-select matNativeControl required  formControlName="genero">
        <mat-option  value="masculino">Masculino</mat-option>
        <mat-option  value="femenino" >Femenino</mat-option>
      </mat-select>
      <mat-error *ngIf="this.editForm.get('genero').errors?.required">{{ getErrorMessage("genero") }}</mat-error>
    </mat-form-field>
   
    
    <button class="boton-envio" (click)="editProfile()" [disabled]="!editForm.valid"  >
      <span>Editar Perfil</span>
    </button>
    <mat-label></mat-label>
  </form>
  
  