::ng-deep th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    font-size: 1 rem;
  }
  
  ::ng-deep th.mat-header-cell {
    font-weight: bold;
    text-transform: capitalize;
    color: black;
  }
  ::ng-deep .mat-elevation-z8{
    width:100%;
  }
  .example-container {
    overflow: auto;
  }
  #tableWrapper{
    margin-top:6%;
  }
  #tableWrapper #dch{
    float:right;
    margin-bottom: 0.5%;
  }
  #tableWrapper .fondo{
    background-color: white;
    width: 10%;   
    margin-top: 0.5%;
  }
  input .fondo{
    float:right;
  }
  .btn-formato{
    background-color: transparent;
        border: none;
  }