<!-- Header -->
<header>
  <ngb-carousel>
    <ng-template *ngFor="let image of images" ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="{{image.img}}" alt="Random first slide">
      </div>

    </ng-template>
  </ngb-carousel>
</header>
<!--Main-->
<main class="mb-2">
  <section class="card-template">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="../../../assets/img/cocinero.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Trabajo</h2>
            <p>La FP una de las principales vías para obtener un primer trabajo de una forma segura.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="card-template">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="../../../assets/img/estudiante.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Estudio</h2>
            <p>La FP te permite estudiar en profundidad lo que te gusta, y además, facilitarte un título por ello.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
<!--Footer-->

<footer class="bg-light text-center text-lg-start">

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    AppDual es una aplicación desarrollada para las enseñanzas de Formación Profesion Dual.
    <br /><br />
    AppDual, 2021 &copy;
  </div>

</footer>