* {
  box-sizing: border-box;
}

.custom-form {
  min-width: 200px;
  max-width: 80%;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  color: black;
  margin-top: 10rem;
}
.mat-form-field-has-label {
  width: 30%;
  margin-left: 10%;
  margin-right: 10%;
}

.boton-envio {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-top: 1%;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #bcd8c1;
  width: 100%;
  display: inline-flex;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
  margin: auto;
  margin-left: 2%;
}
.boton-envio span {
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  .mat-form-field-has-label {
    width: 80%;
  }
  .enlace{
    text-align: center;
    height:5%;
  }
  .row.enlace-margin-top{
    margin-top:4%;
  }
}
.enlace{
  text-align: center;
  padding-top: 2%;
}
