<h1 mat-dialog-title>Crear Encuesta</h1>
<div mat-dialog-content>
  <form [formGroup]="formInstance" novalidate >
    <mat-form-field class="fullWidth" appearance="outline">
      <mat-label>T&iacute;tulo</mat-label>
        <input matInput type="text" name="titulo" placeholder="T&iacute;tulo" formControlName="titulo" required>
        <mat-error *ngIf="formInstance.controls['titulo']?.errors?.required">T&iacute;tulo</mat-error>
        <mat-error *ngIf="formInstance.controls['titulo']?.errors?.minlength">T&iacute;tulo</mat-error>
        <mat-error *ngIf="this.formInstance.get('titulo').errors?.serverError">{{ this.formInstance.get('titulo').errors?.serverError }}</mat-error>
      </mat-form-field>
    <mat-form-field class="fullWidth" appearance="outline">
      <mat-label>Descripci&oacute;n</mat-label>
        <input matInput type="text" name="descripcion" formControlName="descripcion" placeholder="descripcion" required />
        <mat-error *ngIf="formInstance.controls['descripcion']?.errors?.required">Descripci&oacute;n requerida</mat-error>
        <mat-error *ngIf="formInstance.controls['descripcion']?.errors?.minlength">Cadena m&iacute;nima de 4 caracteres</mat-error>
        <mat-error *ngIf="this.formInstance.get('descripcion').errors?.serverError">{{ this.formInstance.get('descripcion').errors?.serverError }}</mat-error>
    </mat-form-field>  
    <mat-form-field class="fullWidth" appearance="outline">
      <mat-label>Alumno</mat-label>
       <mat-select matNativeControl required formControlName="dniAlumno" >
        <mat-option *ngFor="let alumno of alumnoList | keyvalue" [value]="alumno.key">{{ alumno.value }}</mat-option>
      </mat-select>
      <mat-error *ngIf="formInstance.controls['dniAlumno']?.errors?.required">Alumno requerido</mat-error>
      <mat-error *ngIf="formInstance.controls['dniAlumno']?.errors?.serverError">{{ formInstance.controls['alumnos']?.errors?.serverError }}</mat-error>

      </mat-form-field>
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Tutor empresa</mat-label>
         <mat-select matNativeControl required formControlName="dniTutorEmpresa" >
          <mat-option *ngFor="let tutor of tutorList | keyvalue" [value]="tutor.key">{{ tutor.value }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formInstance.controls['dniTutorEmpresa']?.errors?.required">Tutor requerido</mat-error>
        <mat-error *ngIf="formInstance.controls['dniTutorEmpresa']?.errors?.serverError">{{ formInstance.controls['dniTutorEmpresa']?.errors?.serverError }}</mat-error>
  
        </mat-form-field>
</form>
</div>
<div class="mt-5" mat-dialog-actions>
  <button mat-raised-button color="primary"  (click)="save()" [disabled]="!formInstance.valid">Yes</button>
  <button mat-raised-button mat-dialog-close>No</button>
</div>


