<h1 mat-dialog-title>Editar Centro</h1>
<div mat-dialog-content>
  <form [formGroup]="formInstance" novalidate >
      <mat-form-field class="fullWidth" appearance="outline">
        <input matInput type="text" name="nombre" formControlName="nombre" required>
        <mat-error *ngIf="formInstance.controls['nombre']?.errors?.required">Nombre requerido</mat-error>
        <mat-error *ngIf="formInstance.controls['nombre']?.errors?.minlength">Cadena m&iacute;nima de 4</mat-error>
      </mat-form-field>

      <mat-form-field class="fullWidth" appearance="outline">
        <input matInput type="text" name="provincia" formControlName="provincia" required />
        <mat-error *ngIf="formInstance.controls['provincia']?.errors?.required">Provincia requerida</mat-error>
        <mat-error *ngIf="formInstance.controls['provincia']?.errors?.minlength">Cadena m&iacute;nima de 4</mat-error>
    </mat-form-field>
    <mat-form-field class="fullWidth" appearance="outline">
        <input matInput type="text" name="direccion" formControlName="direccion" required />
        <mat-error *ngIf="formInstance.controls['direccion']?.errors?.required">Direcci&oacute;n requerida</mat-error>
        <mat-error *ngIf="formInstance.controls['direccion']?.errors?.minlength">Cadena m&iacute;nima de 4</mat-error>
    </mat-form-field>
    <mat-form-field class="fullWidth" appearance="outline">
        <input matInput type="text" name="CP" formControlName="CP" required />
        <mat-error *ngIf="formInstance.controls['CP']?.errors?.required">CP requerido</mat-error>
        <mat-error *ngIf="formInstance.controls['CP']?.errors?.pattern">Formato CP incorrecto</mat-error>
    </mat-form-field>
    <mat-form-field class="fullWidth" appearance="outline">
        <input matInput type="text" name="telefono" formControlName="telefono" required />
        <mat-error *ngIf="formInstance.controls['telefono']?.errors?.required">Tel&eacute;fono requerido</mat-error>
        <mat-error *ngIf="formInstance.controls['telefono']?.errors?.pattern">Formato tel&eacute;fono incorrecto</mat-error>
    </mat-form-field>
    <mat-form-field class="fullWidth" appearance="outline">
        <input matInput type="text" name="correo" formControlName="correo" required />
        <mat-error *ngIf="formInstance.controls['correo']?.errors?.required">Correo requerido</mat-error>
        <mat-error *ngIf="formInstance.controls['correo']?.errors?.email">Formato correo incorrecto</mat-error>
    </mat-form-field>
  </form>
</div>
<div class="mt-5" mat-dialog-actions>
  <button mat-raised-button color="primary" cdkFocusInitial (click)="save()">Yes</button>
  <button mat-raised-button mat-dialog-close>No</button>
</div>